# venv and ide's
venv
.idea
*__pycache__*

sandbox
test_data
.ipynb_checkpoints
.vscode
# logs and checkpoints of models
logs
checkpoints
samples

# data folders
dataloader/datasamples
*data

todo.txt

scripts
